<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tonne-A-Moneh!</title>

    <!-- <link rel="stylesheet" href="/css/vendor/bootstrap.css" media="screen" title="no title"> -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/main.css">

    <!-- <script src="js/vendor/angular.min.js"></script> -->
</head>
<body ng-app="BillsApp">

    <div class="container" ng-controller="BillsAppController" ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="Bill Buffer">Bill Buffer</md-nav-item>
                <!-- <md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item> -->
                <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
              <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
              <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
              -->
            </md-nav-bar>
            <div class="ext-content">
                <span class="md-display-1">{{currentNavItem}}</span>

            </div>
        </md-content>


    </div>

    <div ng-controller="BillBufferFormCtrl" layout="column" ng-cloak class="md-inline-form">

        <md-content layout-padding>
            <div>
                <form name="userForm">
                    <!-- Rent -->
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{labels.rent}}</label>
                            <input type="number" ng-model="user.rent"
                ng-keyup="displayRent();">
                        </md-input-container>
                    </div>

                    <!-- Power and Water -->
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>{{labels.power}}</label>
                            <input ng-model="user.power" ng-keyup="displayPower();" type="number" >
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{labels.water}}</label>
                            <input ng-model="user.water" ng-keyup="displayWater();" type="number" >
                        </md-input-container>
                    </div>

                    <!-- Phone and ISP -->
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{labels.phone}}</label>
                            <input ng-model="user.phone" ng-keyup="displayPhone();" type="number" >
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>{{labels.isp}}</label>
                            <input ng-model="user.isp" ng-keyup="displayISP();" type="number" >
                        </md-input-container>
                    </div>

                </form>
            </div>
        </md-content>

        <md-content layout-padding>
            <div layout="row">

                <!-- Rent Display -->
                <div layout="column">
                    <div flex>
                        <span class="{{titleClass}}">{{labels.rent}}</span>
                    </div>

                    <div flex>
                        <span class="{{titleClass}}">{{labels.power}}</span>
                    </div>

                    <div flex>
                        <span class="{{titleClass}}">{{labels.water}}</span>
                    </div>

                    <div flex>
                        <span class="{{titleClass}}">{{labels.isp}}</span>
                    </div>

                    <div flex>
                        <span class="{{titleClass}}">{{labels.phone}}</span>
                    </div>
                </div>

                <div layout="column">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                <div layout="column">
                    <div flex>
                        <span class="{{subheadClass}}"> ${{user.rent}}</span> +
                        <span class="{{subheadClass}}" style="color: green;"><em> ${{buffer.rent}}</em></span> =
                        <span class="{{subheadClass}}"><strong> ${{total.rent}}</strong></span>
                    </div>

                    <div flex>
                        <span class="{{subheadClass}}"> ${{user.power}}</span> +
                        <span class="{{subheadClass}}" style="color: green;"><em> ${{buffer.power}}</em></span> =
                        <span class="{{subheadClass}}"><strong> ${{total.power}}</strong></span>
                    </div>

                    <div flex>
                        <span class="{{subheadClass}}"> ${{user.water}}</span> +
                        <span class="{{subheadClass}}" style="color: green;"><em> ${{buffer.water}}</em></span> =
                        <span class="{{subheadClass}}"><strong> ${{total.water}}</strong></span>
                    </div>

                    <div flex>
                        <span class="{{subheadClass}}"> ${{user.isp}}</span> +
                        <span class="{{subheadClass}}" style="color: green;"><em> ${{buffer.isp}}</em></span> =
                        <span class="{{subheadClass}}"><strong> ${{total.isp}}</strong></span>
                    </div>

                    <div flex>
                        <span class="{{subheadClass}}"> ${{user.phone}}</span> +
                        <span class="{{subheadClass}}" style="color: green;"><em> ${{buffer.phone}}</em></span> =
                        <span class="{{subheadClass}}"><strong> ${{total.phone}}</strong></span>
                    </div>
                </div>
                <div layout="column">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>




            </div>
            <footer>
                <md-toolbar class="md-scroll-shrink">
                    <div layout="row" layout-align="center center" flex>

                    </div>
                </md-toolbar>
            </footer>
        </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.js"></script> -->

    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="js/app.js"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85656998-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
